<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Entrada de posiciones D5</title>
   <link rel="stylesheet" href="styles.css">
   <script src="script.js" defer></script>
</head>

<body>
   <form class="formulario_entrada_posiciones" method="post" action="http://localhost:3000/submit">
      <fieldset class="entrada_posiciones">
         <legend>
            Entrada de posiciones
         </legend>
         <label for="codigo">Codigo</label>
         <input type="search" name="codigo" id="codigo" list="codigoslist">
         <datalist id="codigoslist">

         </datalist>

         <label for="passillo">Pasillo</label>
         <input type="text" name="pasillo" id="pasillo">

         <label for="bloco">Bloco</label>
         <input type="text" name="bloco" id="bloco">

         <label for="secuencia">Secuencia</label>
         <input type="text" name="secuencia" id="secuencia">
      </fieldset>
      <button type="submit">Enviar</button>
   </form>

</body>

</html>