.link{
  padding: 10px 20px;
  margin: .5em .2em .5em .2em;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 9em;
}
