.tables-wrapper{
  margin: 2em 0 2em 0;
}

.table {
  text-align: center;
  border: black solid 1px;
  margin: 0rem 1rem 0 1rem;
  width: 20rem;
}

th{
  padding: .25em 0 .25em 0;
}

td {
  padding: .5em;
}

.search_result_table{
   margin-bottom: 1em;
}