.tables-wrapper{
  margin: .5em 0 .5em 0;

  width: 100%;
}

.table {
  text-align: center;
  border: black solid 1px;
  min-width:320px;
  width: 100%;

}

.th{
  font-weight: 800;
  padding: .25em 0 .25em 0;
}

.td {
  padding: .2em;
}



.search_result_table{
   margin-bottom: 1em;
}

.posiciones_headings {
  font-weight: bolder;
}